@charset "utf-8";

/*All styl*/
body{
	margin: 0%;
}
a{
	text-decoration: none;
}
/*Header*/
header nav{
	position: fixed;
	top: 0px;
	background-color: #ffffff;
	display: block;
	width: 100%;
	height: 60px;
	padding: 0%;
	margin: 0%;
}
header nav ul{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding:20px 0% 5px 0%;
	margin-top: 5px;
	list-style:none;
	justify-content: flex-end; 
}
header nav li{
	
	font-size: 14px;
}

/*Head Contents*/
nav li{
	margin-top: 40px;
	display: inline-block;
	font-size: 12px;
	padding-left: 5px;
}
.head-img{
	position: relative;
}
.head-img img{
	display: block;
	width:100%;
	height: 250px;
}
.head-img p{
	position: absolute;
	top: 10px;
	margin-left: 10%;
	color: #ffffff;
}
#top{
	font-size: 1.2rem;
}
#bottom{
	font-size: 1.8rem;
	margin-top: 60px;
}
/*Center contens*/
.center{
	display: block;
	text-align: center;
	width: 700px;
	margin: 0% auto 0% auto; 
}
/*Share*/
.share{
	text-align: right;
}
.share li{
	display: inline;
	padding-left: 10px;
}
.share img{
	width: 20px;
	height: 20px;
}
#follow-us{
	text-align:center;
	border-color: #ffffcc; 
	border-top: solid;
	border-bottom: solid;
	font-size: 25px; 
}
